@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.primary-button{
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 25px;
    color: #ffffff;
    border-radius: 41px;
}
.primary-button .fas{
    background-color: #E02C6D;
    color: #ffffff;
}
/* navigation section start */
.navigation{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 20px;
}
.navigation .nav-section{
   display: flex;
}
.navigation .nav-logo{
    margin-left: 20px;
    padding: 10px;
}
.navigation .nav-logo p{
    font-size: 20px;
}
.navigation .nav-section{
    margin-right: 20px;
}
.navigation .nav-section li{
    list-style: none;
    margin-right: 20px;
    padding: 10px;
}
.navigation .nav-section li a{ 
    text-decoration: none;
}
/* navigation section end */

/* First section start */
.first-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}
.first-container h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;  
}
.first-container p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.second-container img{
    height: 414px;
    width: 440px;
}
/* First section end */

/* Popular Collection section start  */
.section-title{
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
}
.second-section{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}
.populer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.populer-container .populer-item{
    height: 476px;
    width: 329px;
    border-radius: 5px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.populer-item .item-image img{
    height: 256px;
    width: 300px;
    border-radius: 5px;
}
.fa-star,
.fa-star-half-alt{
    color: #FB8200;
    height: 16px;
    width: 16px;
}
.gray-color{
    color: #787885;
}
.see-more-button {
    margin-top: 50px;
    float: right;
    max-width: 1400px;
    margin-right: 116px;
}
.see-more-button a{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.see-more-button a,
.fa-arrow-right{
    color: #E02C6D;
    text-decoration: none;
}

/* Popular Collection section end  */

