@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF; 
    color: black;
    font-family: 'Poppins', sans-serif;
}
.first-section-info a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 20px;
    color: white;
    border-radius: 30px;
    margin-top: 15px;
    display: inline-block;
}
.first-section-info a .fas{
    background-color: #E02C6D;
    color: white;
}
/* Navber section start */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}
.nav-logo p{
    margin-left: 25px;
    margin-top: 25px;
    font-size: 26px;
    font-weight: 700;
}
.navigation{
    display: flex;
    margin-right: 25px;
    margin-top: 25px;
}
.navigation li{
   list-style: none;
   padding: 10px;
   font-size: 16px;
   font-weight: 600;
}
.navigation li a{
   text-decoration: none;
}
