@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

/* navigation section start */
.navigation{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 20px;
}
.navigation .nav-section{
   display: flex;
}
.navigation .nav-logo{
    margin-left: 20px;
    padding: 10px;
}
.navigation .nav-logo p{
    font-size: 20px;
}
.navigation .nav-section{
    margin-right: 20px;
}
.navigation .nav-section li{
    list-style: none;
    margin-right: 20px;
    padding: 10px;
}
.navigation .nav-section li a{ 
    text-decoration: none;
}
/* navigation section end */
