*{
    margin: 0 auto;
    padding: 0 ;
    box-sizing: border-box;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.primary-button{
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 25px;
    color: #ffffff;
    border-radius: 41px;
    margin: 0 auto;
    width: fit-content;
    display: block;
    margin-top: 20px;
}
.primary-button .fas{
    background-color: #E02C6D;
    color: #ffffff;
}
/* navigation section start */
.navigation{
    margin-top: 20px;
}
.navigation .nav-logo p{
   width: fit-content; 
   margin: 0 auto;
   font-size: 18px;
   font-weight: 700;
}
.navigation .nav-section{
   display: none;
}
/* navigation section end */

/* First section start */
.first-section{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}
.first-container h1{
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
}
.first-container p{
    text-align: center;
    width: fit-content;
    margin-top: 20px;
    padding: 10px;
}
.second-container{
    max-width: 576px;
    text-align: center;
}
.second-container img{
    height: 180px;
    width: 250px;
    margin-top: 30px;
}
/* First section end */

/* Popular Collection section start  */
.section-title{
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
}
.second-section{
    max-width: 576px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
.populer-container .item-info h3{
    margin: 5px 0px;
}
.populer-container .item-info p{
    margin: 5px 0px;
}
.populer-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.populer-container .populer-item{
    height: 476px;
    width: 329px;
    border-radius: 5px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.populer-item .item-image img{
    height: 256px;
    width: 300px;
    border-radius: 5px;
}
.fa-star,
.fa-star-half-alt{
    color: #FB8200;
    height: 16px;
    width: 16px;
}
.gray-color{
    color: #787885;
}
.see-more-button {
    margin-top: 50px;
    text-align: right;
    margin-right: 70px;
}
.see-more-button a{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.see-more-button a,
.fa-arrow-right{
    color: #E02C6D;
    text-decoration: none;
}

/* Popular Collection section end  */

/* Third section start */
.third-section{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    max-width: 576px;
    margin: 0 auto;
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 20px;
}
.third-cont-info{
    width: 100%;
}
.third-cont-info h2{
    margin-bottom: 10px;
}
.third-cont-image img{
    width: 90%;
    border-radius: 20px;
}
.third-cont-image {
    width: 100%;
    margin-top: 10px;
}
/* Third section end */

/* Footer section start */
footer{
    text-align: center;
    background-color: #0A0826;
    max-width: 576px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 50px 0px;
}
.color-white{
    color: #ffffff;
}
footer i{
    width: 32px;
    height: 32px;
}
/* Footer section end */

/* Animation section start */
.first-container .influncer-heading{
    font-size: 18px;
    white-space: nowrap;
    font-weight: 700;
    text-align: left;  
    position: relative;
    color: transparent;
}
.first-container .influncer-heading::before{
   content: "Influencer";
   position: absolute;
   top: 0;
   left: 0;
   color: #E02C6D;
   animation: typing 3s linear infinite;
}
@keyframes typing {
    0%{
        content: "I|";
    }
    5%{
        content: "In|";
    }
    10%{
        content: "Inf|";
    }
    15%{
        content: "Infl|";
    }
    20%{
        content: "Influ|";
    }
    25%{
        content: "Influe|";
    }
    30%{
        content: "Influen|";
    }
    35%{
        content: "Influenc|";
    }
    40%{
        content: "Influence|";
    }
    65%{
        content: "Influencer|";
    }
    70%{
        content: "Influence|";
    }
    75%{
        content: "Influenc|";
    }
    80%{
        content: "Influen|";
    }
    85%{
        content: "Influe|";
    }
    90%{
        content: "Influ|";
    }
    95%{
       content: "Infl|"; 
    }
    100%{
        content: "Inf|";
    }
    105%{
        content: "In|";
    }
    110%{
        content: "I";
    }

}
/* Animation section end */
