*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.primary-button{
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 25px;
    color: #ffffff;
    border-radius: 41px;
    margin: 0 auto;
    width: fit-content;
    display: block;
    margin-top: 20px;
}
.primary-button .fas{
    background-color: #E02C6D;
    color: #ffffff;
}
/* navigation section start */
.navigation{
    margin-top: 20px;
}
.navigation .nav-logo p{
   width: fit-content; 
   margin: 0 auto;
   font-size: 20px;
}
.navigation .nav-section{
   display: none;
}
/* navigation section end */

/* First section start */
.first-section{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}
.first-container h1{
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}
.first-container p{
    text-align: center;
    width: fit-content;
    margin-top: 20px;
}
.second-container{
    max-width: 576px;
    text-align: center;
}
.second-container img{
    height: 180px;
    width: 250px;
}
/* First section end */
